@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: Atkinson Hyperlegible;
  box-sizing: content-box;
}
header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 30px;
    background-color: rgb(rgba(204, 120, 25, 0.233));
}
.div1{
    display: flex;
    justify-content: space-around;
    
}

.mainDiv {
    display: flex;
    height: 600px;
    width: 600px;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap;
}

.mainDiv div{
    
    height: auto;
    align-items: center;
    flex: 1 1 0 ;
}
