@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: Atkinson Hyperlegible;
  box-sizing: content-box;
}
body {
  background-color: mediumslateblue;
}
header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 30px;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  max-height: 600px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  border: solid black 5px;
  justify-self: center;
  flex-wrap: wrap;
}

#colorpicker {
  padding: 1px;
}
